* {
    box-sizing: border-box;
    font-family: "Roboto";
}

body {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0067A3;
    /*background-color: red;*/
    height: 45px;
}

nav {
    background-color: #0079BF;
    height: 50px;
}


#home-button-container {
    height: 100%;
    width: 50px;
    margin: 0 2px;
    background-color: #0067A3;
    float: left;
}

#home-button-div {
    height: 100%;
}

#home-button {
    height: 80%;
    width: 90%;
    margin: 4px 4px;
    border: 0;
    border-radius: 4px;
    outline: none;
    background-color: #66A4C7;
}

#home-button:hover {
    background-color: #3080bf;
}

#home-button-img {
    padding: 2px 0 0 0;
    height: 80%;
    width: 80%;
}

#search-div {
    height: 100%;
    width: 200px;
    float: left;
    background-color: #0067A3;
}

#search-input {
    height: 80%;
    width: 100%;
    margin: 4px 4px;
    border: 0;
    border-radius: 4px;
    outline: none;
    vertical-align: bottom;
    background: #66A4C7 url(imgs/search.png) no-repeat 90%;
    background-size: 12%;
}

#search-input:hover {
    background-color: #3080bf;
}

#search-input:focus {
    background-color: white;
    padding-left: 5px;
}



#main {
    background-color: #0079BF;
    width: 100%;
    height: 1000px;
    padding-left: 10px;
}

#lists-container {
    background-color: #0079BF;
    height: 600px;
    width: 100%;
}

.list {
    width: 300px;
    min-height: 80px;
    height: auto;
    background-color: #EBECF0;
    border-radius: 5px;
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    align-content: center;
}

.list-content {
    margin-left: 15px;
    margin-right: 15px;
}

.list-card-content {
    height: 40px;
    /*margin: 0 10px;*/
    font-size: 12px;
}


.list-name {
    /*margin-left: 20px;*/
}

.list-card {
    /*width: 80%;*/
    padding: 5px 10px;
    margin-bottom: 10px;
    /*border: black solid 1px;*/
    border-radius: 5px;
    background-color: #FFFFFF;
    box-shadow: 2px 3px #888888;
}

.list-card-color {
    background-color: orange;
    min-width: 40px;
    max-width: 40px;
    max-height: 10px;
    min-height: 10px;
    float: left;
    margin-right: 4px;
    border-radius: 4px;
}

#111112 {
    background-color: #66A4C7;
}

.list-card-color span {
    font-size: 14px;
}


h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    padding: 10px 0 0 10px;
    margin: 0;
    color: white;
}

h4 {
    margin: 10px 0;
}

h5 {
    margin: 10px 0;
    color: darkgrey;
}
