* {
    box-sizing: border-box;
    font-family: "Roboto";
}

body {
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}

header {
    background-color: #0067A3;
    /*background-color: red;*/
    height: 45px;
}

#home-button-container {
    height: 100%;
    width: 50px;
    margin: 0 2px;
    background-color: #0067A3;
    float: left;
}

#home-button-div {
    height: 100%;
}

#home-button {
    height: 80%;
    width: 90%;
    margin: 4px 4px;
    border: 0;
    border-radius: 4px;
    outline: none;
    background-color: #66A4C7;
}

#home-button:hover {
    background-color: #3080bf;
}

#home-button-img {
    padding: 2px 0 0 0;
    height: 80%;
    width: 80%;
}

#search-div {
    height: 100%;
    width: 200px;
    float: left;
    background-color: #0067A3;
}

#search-input {
    height: 80%;
    width: 100%;
    margin: 4px 4px;
    border: 0;
    border-radius: 4px;
    outline: none;
    vertical-align: bottom;
    background: #66A4C7 url(imgs/search.png) no-repeat 90%;
    background-size: 12%;
}

#search-input:hover {
    background-color: #3080bf;
}

#search-input:focus {
    background-color: white;
    padding-left: 5px;
}

nav {
    background-color: #0079BF;
    height: 40px;
}


#main {
    background-color: #0079BF;
    width: 100%;
    height: 1000px;
}

#list-container {
    background-color: #0079BF;
    height: 600px;
    width: 100%;
}

.list {
    width: 300px;
    height: 300px;
    background-color: #EBECF0;
    border-radius: 5px;
    float: left;
    margin: 0 5px;
    align-content: center;
}

.list-name {
    margin-left: 20px;
}

.list-card {
    width: 80%;
    margin: 0 20px;
    /*border: black solid 1px;*/
    border-radius: 5px;
    background-color: #FFFFFF;
}


.list-card-color {
    height: 10px;
    min-width: 40px;
    max-width: 40px;
    margin-left: 10px;
    border-radius: 4px;
    background-color: orange
}

.list-card-color span {

}

.list-card-content {
    height: auto;
    margin: 10px;
}


h1 {
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    padding: 5px 15px;
    margin: 0;
    color: white;
}

h4 {

}
